main,
body {
    background-color: black !important
}

main[role='main'],
body {
    color: white !important
}

span.inlineIndicator {
    background-color: grey !important
}

article a[href] code {
    color: blue !important
}

mark {
    color: grey !important
}
