div.content,
div.grippy,
div.happening-now,
body {
    background-color: black !important
}

div.side {
    background-color: darkgrey !important
}

#header-bottom-left {
    background-color: darkgreen !important
}

div[class*="promoted"] {
    display: none !important
}

div.md,
li,
p,
p.title,
table,
div a {
    color: green !important
}
