div.content{
    background-color: black !important
}

div[class*='promoted']{
    background-color: black !important
}

div.grippy{
    background-color: black !important
}

div.happening-now{
    background-color: black !important
}

div.side{
    background-color: darkgrey !important
}

#header-bottom-left{
    background-color: darkgreen !important
}

body{
    background-color: black !important
}

p.title a{
    color: green !important
}

p{
    color: green !important
}
