[user]
    name = treatmesubj
    email = jrock4503@hotmail.com
[core]
    excludesfile = /home/john/.gitignore
    editor = vim
    # https://github.com/dandavison/delta
    pager = delta
    autocrlf = input
[branch]
    sort = -committerdate
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    line-numbers = true
#    side-by-side = true
#    git -c delta.side-by-side=true diff --staged
    line-numbers-left-format = ""
    line-numbers-right-format = "│ "
    file-style = white bold
    file-decoration-style = white box
    syntax-theme = Monokai Extended # Light
    hunk-header-style = line-number syntax bold
    hunk-header-decoration-style = white box
    hunk-header-line-number-style = yellow box bold
    inline-hint-style = brightmagenta
    line-numbers-left-format = "{nm:>1}┊"
    line-numbers-left-style = grey
    line-numbers-right-format = "{np:>1}┊"
    line-numbers-right-style = grey
    hunk-label =
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = plain
    tool = nvimdiff
    algorithm = histogram
    mnemonicPrefix = true
    renames = true
[alias]
    root = rev-parse --show-toplevel
    blame-hard = blame --no-merges -w -C -C -C
    diff-sbs = -c delta.side-by-side=true diff
    diff-classic = -c pager.diff='less -R' diff
    checkout-fzf = !git checkout $(git branch | fzf --height=10 --border=double --border-label="local-branches" --border-label-pos=3:bottom)
    show-merge-conflicts = !git diff --name-only --diff-filter=U --relative && echo \"---\" && git diff --check
    log-lil = log --pretty=\"format:%C(yellow)%h %C(Cyan)%>(10)%ad (%cr) %Cgreen%aN%Cred%d %Creset%s\" --date=short
    log-big = log -p -M --stat
    nvimdiff = !cd -- "${GIT_PREFIX:-.}" && bash -c 'source ~/.bashrc_john.sh && gitnvimdiff \"$@\"' -bash
    # Usage:
      # diff refs:
        # $ git nvimdiff master...HEAD
      # diff ref..working-tree & edit working tree:
        # $ git nvimdiff master
      # diff ref...HEAD + working-tree & edit working tree:
        # $ git nvimdiff $(git merge-base master HEAD)
    branch-short = "!git branch | sed -n '/\\* /s///p' #"
    # https://stackoverflow.com/a/39616600
    quote-string = "!read -r l; printf \\\"!; printf %s \"$l\" | sed 's/\\([\\\"]\\)/\\\\\\1/g'; printf \" #\\\"\\n\" #"
    # don't track local changes to a file
    shut-up-about = update-index --assume-unchanged
    # update-index --no-assume-unchanged
