body, #content {
    background-color: black !important;
    color: #FFBF00
}

header, [role='menubar'] {
    background-color: black !important;
}

code,
[class*='code-block'] {
/*     background-color: #000 !important; */
    color: darkgreen !important;
    scrollbar-color: grey black !important;
/*     border-style: solid; */
    border-width: thin;
}

form#post-form, [id*='sidebar'] {
    visibility: hidden !important;
}

[class*='postcell'], [id*=answer-] {
    border-style: solid;
    border-width: thin;
}
