main,
body {
    background-color: black !important
}

main[role='main'] p,
body p{
    color: white !important
}

span.inlineIndicator {
    background-color: grey !important
}

article a[href] code {
    color: blue !important
}

mark,
section {
    color: grey !important
}
